
.bodyTransitions {
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 1400px;
    margin-top: 40px;
    padding: 0px 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lightTheme {
    background-color: #fff;
    color: #000;
}

.darkTheme {
    background-color: #333;
    color: #fff;
}


.errorContainer {
    color: #ffffff;
    background-color: #ba86b7;
    padding: 20px; 
    margin-top: 20px; 
    border-radius: 16px;
    border: none; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.errorMessage {
    margin-right: 10px;
    font-size: 26px;
}

.urlContainer a {
    color: #ba86b7;
    text-decoration: none; 
    font-weight:normal;
}

.urlContainer a:hover {
    text-decoration: underline; 
    color: #926390;
}

@media (max-width: 1400px) {
    .container {
        padding: 15px 25px;
    }
    .inputField {
        padding-right: 0;
    }
  }